/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
/* body part */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: black;
}
/* header part  */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thumnail{
    width: 1440px;
    height: 677px;
    background-color: #2D25A0;
    margin-top: 10px;
    opacity: 0.5;
 }
 .thumnail:hover{
     opacity: 1;
 }
.thumnail-parts{
    display: flex;
    justify-content: space-between;
}
.thumnail-part{
    margin-left: 156px;
    margin-top: 207px;
}
.thumnail-part a{
    background-color: #E02C6D;
    padding: 10px 30px;
    color: white;
    line-height: 80px;
    text-decoration: none;
    transition: 1.5s;
}
.thumnail-part a:hover{
    background-color: cornflowerblue;
}
.thumnail-part i{
    color: white;
    padding-left: 5px;
}
.thumnail-banner{
    margin-right: 141px;
    margin-top: 153px;
}
.thumnail-banner img{
    width: 556px;
    height: 438px;
}

/* main part */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}    

.players-templete{
    width: 1440px;
    background-color:  #FFFFFF;
    align-items: center;
    
}
.player-details{
    margin-left: 150px;
    margin-right: 210px;
    margin-top: 70px;
    margin-bottom: 160px;

}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px; 
}
.player img{
    width: 100%;
    height: 256px;

}
/* FORM PART AND VIDEO */

.form{
    width: 1440px;
    background-color:  #FFFFFF;
    align-items: center;
}
.bonous-part{
    display: flex;
    justify-content: space-around;
}

/* TABLE */
table, td, th {
    border: 1px solid black;
 }
table {
    border-collapse: collapse;
    width: 500px;
}
th{
    height: 70px;
} 
.copa-america-table h2{
    margin-left: 30px;
}
.copa-america-tables{
    display: flex;
    justify-content: space-around;
}

.copa-america-table{
    margin-top: 100px;
}





/* FOOTER PART */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-details{
    background-color:#FFFFFF;
    width: 1440px;
}
.footer-space{
    margin-top: 90px;
}
.details{
    text-align: center;
}
.details img{
    width: 483.87px;
    height: 110px;
}
.icons ul li{
    list-style: none;
    height: 32px;
    width: 32px;
    margin: 14px;
    background: gray;
    line-height: 32px;
    border-radius: 15px;
    display: inline-block;

}





@media only screen and (max-width:688px) {
    .thumnail, .players-templete, .form{
        width: 100%;
        height: 100%;
    }
    .thumnail-parts{
        flex-direction: column;
        align-items: center;

    }
    .thumnail-part{
        margin-left: 0px;
        margin-right: 0px;
    }
    .thumnail-banner img{
        width: 100%;
    }
    .thumnail-banner{
        margin-right: 0px;
        margin-top: 0 auto;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .player-details{
        margin-left: 20px;
        margin-right:2px;
    }
    .bonous-part, .copa-america-tables{
        flex-direction: column;
        align-items: center;
    }
    .copa-america-table h2{
        margin-left: 0px;
    }
    th{
        height: 100%;
    }
    table{
        width: 100%;
    }
    .footer-details{
        width: 100%;
    }
    .details img{
        width: 80%;
    }
}


/* tablet device */

@media only screen and (min-width:688px) and 
(max-width:992px) {
    .thumnail, .players-templete, .form{
        width: 100%;
        height: 100%;
    }
    .thumnail-banner img{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .player-details{
        margin-left: 20px;
        margin-right:2px;
    }
    th{
        height: 100%;
    }
    table{
        width: 100%;
    }


}
    
